.DS_Store
node_modules
/dist

src/assets
src/firebase

public/analysis.svg
public/block.svg
public/cloud.svg
public/cross-platform.svg
public/avatars

/functions

src/configFirebase.js


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

public/android-chrome-192x192.png
public/android-chrome-512x512.png
public/96x96.png
apple-touch-icon.png
favicon-16x16.png
favicon-32x32.png
favicon.ico
mstile-150x150.png
safari-pinned-tab.svg

firebase-debug.log
firestore.indexes.json
firestore.rules
